<style>
  .page-width.wishlist_products {
    padding-top: 2vw;
  }
</style>
<div class="page-width wishlist_products">
  <h2>Product wishlist page</h2>
  <div class="grid product-grid grid--4-col-desktop grid--2-col-tablet-down" wishlistData></div>
  <div class="empty" wishlistempty>
    <h2 style="width: 50%;margin: 50px auto;">Your wishlist is empty!</h2>
  </div>
</div>
